.root {
  color: var(--primary);
  font-family: var(--headingFont);
  font-size: var(--bigFontSize);
  line-height: var(--bigLineHeight);
  font-weight: normal;
  text-decoration: underline;
  font-style: italic;
  margin: var(--vRhythm) 0 0 0;
}
